---
import { Image } from "astro:assets"
import { getCollection } from "astro:content";

import bannerImage from "~/assets/banner.png";

import PageLayout from "~/layouts/PageLayout.astro"

const projects = await getCollection("projects");
---

<PageLayout>
  <Image
    src={bannerImage}
    alt="A cool anime girl eyes in grayscale"
    loading="eager"
  />

  <section class="mt-8 space-y-2">
    <h1>~ Caio Vinícius <span class="text-zinc-500">/ˈka.ju viˈni.sjus/</span></h1>
    <p>
      A simple person that loves music and anime, oh, and programming obvious... He 
      knows something but wants to know more.
    </p>
  </section>

  <section class="mt-4">
    <h2>~ Projects</h2>

    <ul class="mt-2 space-y-2">
        { projects.map(project => (
            <li class="space-y-1" aria-label={project.data.name}>
                <a href={project.data.sourceCode} target="_blank" rel="norefeerer" class="underline underline-offset-2">
                    <h3>{project.data.name}</h3>
                </a>
                <p>{project.data.description}</p>
            </li>
        )) }
    </ul>
  </section>

  <section class="mt-4 space-y-2">
    <h2>~ Contact me</h2>

    <p>
        If you would like to contact me about an opportunity or to share experiences, 
        please feel free to do so at <a href="https://linkedin.com/in/caiocamargo007" class="underline underline-offset-2" target="_blank" rel="norefereer">Linkedin</a> 
        or <a href="mailto:hi@caiovinicius.xyz" class="underline underline-offset-2" target="_blank" rel="norefereer">hi@caiovinicius.xyz</a>.
    </p>

    <p>Also, check out my <a href="https://github.com/SadS4ndWiCh" class="underline underline-offset-2" target="_blank" rel="norefereer">GitHub</a>.</p>
  </section>
</PageLayout>