---
import { Image } from "astro:assets"
import { getCollection } from "astro:content";

import bannerImage from "~/assets/banner.png";

import PageLayout from "~/layouts/PageLayout.astro"

const projects = await getCollection("projects");
---

<PageLayout>
  <Image
    src={bannerImage}
    alt="A cool anime girl eyes in grayscale"
    loading="eager"
  />

  <section class="mt-8 space-y-4">
    <h1>~ Caio Vinícius <span class="text-zinc-500">/ˈka.ju viˈni.sjus/</span></h1>
    <p>
      A simple person that loves music and anime, oh, and programming obvious... He 
      knows something but wants to know more.
    </p>
  </section>

  <ul class="flex items-center gap-4 mt-4 text-zinc-500">
    <li class="hover:text-zinc-900">
      <a href="https://github.com/SadS4ndWiCh" target="_blank" rel="norefeerer">
        GitHub
      </a>
    </li>
    <li class="hover:text-zinc-900">
      <a href="https://linkedin.com/in/caiocamargo007" target="_blank" rel="norefeerer">
        LinkedIn
      </a>
    </li>
    <li class="hover:text-zinc-900">
      <a href="mailto:caiocamargo.ct@gmail.com">
        Email
      </a>
    </li>
  </ul>

  <section class="mt-4">
    <h2>~ Projects</h2>

    <ul class="mt-2 space-y-2">
        { projects.map(project => (
            <li class="space-y-1" aria-label={project.data.name}>
                <a href={project.data.sourceCode} target="_blank" rel="norefeerer" class="underline underline-offset-2">
                    <h3>{project.data.name}</h3>
                </a>
                <p>{project.data.description}</p>
            </li>
        )) }
    </ul>
  </section>
</PageLayout>